/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/06/2015, 12:18:13 ص
    Author     : saad
*/


html{
    background-color: gainsboro;
    width: auto;
    /* color: gainsboro; */ 
}
b{
    color: goldenrod;
    font-style: italic; 
    font-size: 14px;
    display: block;
    text-decoration: underline;
}


img:hover{
    -webkit-transition: ease 2s;
    -moz-transition: ease 2s;
    -ms-transform: scale(1.5,1.5);
    -moz-transform:  scale(1.5,1.5);
    -webkit-transform: scale(1.5,1.5);

}

.left , .right , .mainContent{
    text-align: center;
}

a:link , a:visited{
    color: #fff; 
    text-decoration: none;
}
footer a:hover{
    color:#0033ff;
}




header nav ul li {float: left; display: inline; margin: 38px 5px 0px 5px ;}
header a{outline: none;}
header a:link ,header a:visited {
    -webkit-transition: ease 1s;
    color:#fff; 
    display: block;
    height: 25px;
    padding:5px 5px 0px 5px;
    text-decoration: none;
    text-align: center;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.9) ;
    border-radius: 5px;

}

header a.active {
    color:#fff;
    background-color: black; 
    border-radius: 5px;

}

header a:active ,header a:hover{
    background-color: black;
    color : #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}


span {
    display: block;
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color:#C74350;
    margin : 20px 10px;
}
#menu {
    display: block;
    width: 200px;
    top: 0;
    position: fixed;
    background-color: #333333;
    z-index: 9999;

}

#menu .toggle {
    background-color: #C74350;
    display: block;
    top:0;
    top: 200px;
    position: absolute;
}
#toggle {display: none;}

#menu {
    top: -200px;
    -webkit-transition: top 1s ;

}

.menuContent{
    background-color: #333333;
}

#toggle:checked + #menu{
    top : 0 ;
    -webkit-transition:top 1s ;
    transition: top 1s;


}
#menu ul li {
    display: block;
    border-bottom: 1px solid #ccffff; 
    padding : 10px;
    text-decoration: none;
    font-size: 10px;
}
#menu ul li a{
    display: block;
    color : whitesmoke;

}

#menu ul li a:hover {
    padding-left: 30px;
    color : #C74350;
}
#menu ul li a:hover , #menu ul li a   {
    -webkit-transition: padding 1s;
    transition: padding 1s;

}


header {
    display: block;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 100;
    background: #C74350 !important;
    font-size: 1.143em;
    height: auto;
    width: 100%;
    line-height: inherit;
    margin: 0px 0px 2em 0em;
    padding-bottom: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}


header h1 
{


    box-shadow: 0px 10px 5px rgba(0,0,0,0.7) ;
    background-color: black;
    border-radius: 5px; 
    color: goldenrod; 
    font-stretch: extra-expanded;
    font-style: italic;  
    float: right;
    text-align: right;
    padding-right:  5px; 
    margin-right: 5px;
}
body{
    margin-top: 10px; 
}

.mainBody{
    
    width: 100%;
    display: inline-block;
    height: auto;
     
    font-size: 13px; 
    
    background-image: url("img/mainContent.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    color:#fff;
    margin: 100px 0px 0px 0px;
}


aside.right , aside.left   {
    margin: 10px;
    width : 90%;
    height: auto;
    padding: 0px 5px 5px 5px;
    display: block;
    font-size: 12px;
}

section.mainContent{
    margin: 10px;
    width: auto !important;
    height: fit-content;
    display: block;
    
     

}

img {
    width: auto;
    height: 100px;
    opacity: .9;
}


aside.social{
    display: inline-table !important;
    width: auto;
    height: auto;
    border-color: #333;

    float: right;
    margin: 5px 60px 10px 10px; 
    font-size: 12px;
    padding: 0px 5px 5px 5px;
}
.footer {
    clear: both;
    
    display: block;
    margin-top: 40px;
    text-align: -webkit-center;
    background-color: #C74350 ; 
    width: 99%;
    height: 100px;
    color:#fff;
    text-align: center;
     padding: 10px;

    
}

footer .copyright{
    padding: 30px;
    font-size: 11px;
    
}

.hr{
    
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;

}

#menu {
    display: block;
    width: 200px;
    top: 0;
    position: fixed;
    background-color: #333333;
    z-index: 9999;

}

#menu .toggle {
    background-color: #C74350;
    display: block;
    top:0;
    top: 200px;
    position: absolute;
}
#toggle {display: none;}

#menu {
    top: -200px;
    -webkit-transition: top 1s ;

}

.menuContent{
    background-color: #333333;
}

#toggle:checked + #menu{
    top : 0 ;
    -webkit-transition:top 1s ;
    transition: top 1s;


}
#menu ul li {
    display: block;
    border-bottom: 1px solid #ccffff; 
    padding : 10px;
    text-decoration: none;
    font-size: 9px;
}
#menu ul li a{
    display: block;
    color : whitesmoke;

}

#menu ul li a:hover {
    padding-left: 30px;
    color : #C74350;
}
#menu ul li a:hover , #menu ul li a   {
    -webkit-transition: padding 1s;
    transition: padding 1s;

}
#MainNav{
    display: none;
}