/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/06/2015, 12:31:18 
    Author     : saad
*/
html{
    background-color: gainsboro;
    width: auto;
    color:gainsboro; 
}
b{
    color: goldenrod;
    font-style: italic; 
    font-size: 16px;
    display: block;
    text-decoration: underline;
}
.mainBody{
    width: 100%;
    display: inline-block;
    background-image: url("img/mainContent.jpg");

    background-repeat: no-repeat;
    background-size: 100%;
    opacity: .9;
    color:#fff;
    margin: 0px 0px 1em 0em;
}

.mainContent img {
    padding:10px;
    width: 300px;
    height: 150px; 
    
    position: inherit;

}

img:hover{
    -webkit-transition: ease 2s;
    -moz-transition: ease 2s;
    -ms-transform: scale(2,2);
    -moz-transform:  scale(2,2);
    -webkit-transform: scale(2,2);

}

.left , .right , .mainContent{
    text-align: center;
}

a:link , a:visited{
    color: #fff; 
    text-decoration: none;
}
footer a:hover{
    color:#0033ff;
}

header  {
    display: inline-table;
    background: #C74350;
    font-size: 1.143em;
    height: auto;
    width: 100%;
    line-height: inherit;
    margin: 0px 0px 1em 0em;
    padding: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
header h1 {
    display: inline;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.7) ;
    background-color: black;
    border-radius: 5px; 
    color: goldenrod; 
    font-stretch: extra-expanded;
    font-style: italic;  
    float: right;
    text-align: right;
    padding-right:  5px; 
    margin-right: 10px;

}
header nav ul{  list-style: none;  width: 800px;    }
header nav ul li {float: left; display: inline; margin: 38px 5px 0px 5px ;}
header a{outline: none;}
header a:link ,header a:visited {
    -webkit-transition: ease 1s;
    color:#fff; 
    display: block;
    height: 25px;
    padding:5px 5px 0px 5px;
    text-decoration: none;
    text-align: center;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.9) ;
    border-radius: 5px;

}

header a.active {
    color:#fff;
    background-color: black; 
    border-radius: 5px;

}

header a:active ,header a:hover{
    background-color: black;
    color : #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}



span {
    display: block;
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color:#C74350;
    margin : 20px 10px;
}


.mainContent {
    font-family: sans-serif;
    font-size: 14px;
    display: inline-block !important;
    width: 50% !important; 
    height: 400px; 
    border-color:#C74350;
    border-style: dashed;
    text-align: -webkit-center;
    margin:10px;
    padding:10px;
    alignment-baseline: central;



    /* position: relative; */
}
aside.right ,aside.left {

    display: inline-block!important;
    width: 20%;
    height: 300px;
    border-color: #C74350;
    border-style: groove;
    margin: 10px; 
    font-size: 13px;
    float: none;
}

aside.social{
    display: inline-table !important;
    width: auto;
    height: auto;
    border-color: #333;

    float: right;
    margin: 5px 60px 10px 10px; 
    font-size: 12px;
    padding: 0px 5px 5px 5px;
}
.footer {
    clear: both;
    display: block;
    margin-top: 40px;
    text-align: -webkit-center;
    background-color: #C74350 ; 
    width: 99%;
    height: 100px;
    color:#fff;
    text-align: center;
    

    float: none;
}

footer .copyright{
    padding: 30px;
    font-size: 14px;
    
}

hr {
 display: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  
}

#menu , #toggle{
    display: none;
}